header{
    color: black;
    text-align: center;
    background-color: #6299ff;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}



#mainBod{
    text-align: center;
}

#bodyText{
}

.toolbarText{
    text-decoration: none;
    color: black;
    padding: 100px;
}

img{
    height: 350px;
}

.compName{
    color: navy;
    text-decoration: none;
}
html{
    background-color: #E9EBEE;
}