ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6299ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #6d92d8;
  }

  .active {
    background-color: #8ab3ff;
  }

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  }

#mainBod{
    text-align: center;
}

h3{
    text-align: center;
    padding-bottom: 50px;
}

#textBox{
    margin-left: 150px;
    margin-top: 150px;
    padding: 10px;
    text-align: left;
    background-color: rgba(98, 153, 255, .3);
    box-shadow: 10px 10px 20px 1px gray;
}

img{
    margin-top: 50px;
    margin-bottom: 100px;
    height: 700px;
    box-shadow: 10px 10px 20px 1px gray;
}

.compName{
    color: navy;
    text-decoration: none;
}
html{
    background-color: #E9EBEE;
    font-family: "Lucida Console", Monaco, monospace;
}