@media only screen and (max-width: 768px) {
  ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6299ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  li {
    display: inline-block;
  }
  li a {
    font-size: 10px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
  }
  html {
    background-color: #E9EBEE;
    font-family: "Lucida Console", Monaco, monospace;
  }
  li a:hover {
    background-color: #6d92d8;
  }
  .active {
    background-color: #8ab3ff;
  }
  body {
    text-align: center;
    padding-top: 60px;
  }

  #mobileResume{
    display: inherit;
  }

  #desktopResume{
    display: none;
  }
  #linkingButtons{
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  body {
    text-align: center;
    padding-top: 60px;
  }
  html {
    background-color: #E9EBEE;
    font-family: "Lucida Console", Monaco, monospace;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6299ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #6d92d8;
  }
  .active {
    background-color: #8ab3ff;
  }

  #mobileResume{
    display: none;
    
  }

  #desktopResume{
    display: inherit;
  }

  #linkingButtons{
    display: inline-block;
  }
}